@page "/"
@page "/g12"
@inject IJSRuntime JS;
@using ff14_map.Shared
@inject HttpClient Http

<div class="g12">
    <header>
        <h1>【FF14】宝の地図G12MAP 座標探索</h1>
        <p class="caption">宝の地図を楽に探せたらいいなというサイトです。</p>
    </header>
    <br />
    <article>
        <ol>
            <li><strong>［Win］+［Shift］+［S］キーで地図を綺麗に撮影</strong></li>
            <li><strong>［Ctrl］+［V］キーで下の枠内に貼り付け</strong></li>
        </ol>
        <p>
            結果が異なる場合は再度撮影からやり直すと上手くいくかもしれません。<br />
            それでもダメな場合は地図の一覧が載っているサイトで探してください。
        </p>
    </article>

    <strong>ここに貼り付け</strong>
    <div id="inputImage" contenteditable="true" @onpaste="InputImage"></div>
    <img id="outputImage" asp-append-version="true">

    @if (data != null && data.Length != 0)
    {
        <table>
            <tr>
                <th colspan="2" class="underline">候補1</th>
                <th colspan="2" class="underline">候補2</th>
            </tr>
            <tr>
                <td><img class="map" src="@(path + data[0].Map.FileName)" alt="map" asp-append-version="true"></td>
                <td>
                    <p><strong>@data[0].Map.Area</strong></p>
                    <p class="coordinate"><strong>@($"{data[0].Map.Point} ({data[0].Map.X.ToString("F1")}, {data[0].Map.Y.ToString("F1")}) Z:{data[0].Map.Z.ToString("F1")}")</strong></p>
                </td>
                <td><img class="map" src="@(path + data[1].Map.FileName)" alt="map" asp-append-version="true"></td>
                <td>
                    <p><strong>@data[1].Map.Area</strong></p>
                    <p class="coordinate"><strong>@($"{data[1].Map.Point} ({data[1].Map.X.ToString("F1")}, {data[1].Map.Y.ToString("F1")}) Z:{data[1].Map.Z.ToString("F1")}")</strong></p>
                </td>
            </tr>
            <tr>
                <td colspan="2"><img class="map" src="@(path + data[0].WholeMap.FileName)" alt="wholemap" asp-append-version="true"></td>
                <td colspan="2"><img class="map" src="@(path + data[1].WholeMap.FileName)" alt="wholemap" asp-append-version="true"></td>
            </tr>
        </table>
    }
    else if (data != null)
    {
        <p>取得に失敗しました。</p>
    }
</div>

<style type="text/css">
    .caption {
        text-indent: 1.5rem;
    }

    table {
        padding-top: 2rem;
        border-collapse: separate;
        border-spacing: 10px 0;
        margin-bottom: 1vw;
        width: 100%;
    }

    td {
        vertical-align: top;
        width: 1px;
    }

    p {
        width: 100%;
    }

    .coordinate {
        font-size: 1.2rem;
    }

    .underline {
        text-decoration: underline;
    }

    #inputImage {
        border: 3px ridge #8b4513;
        width: auto;
        height: auto;
        max-width: 20vw;
        min-width: 200px;
        min-height: 4vh;
    }

    #outputImage {
        max-width: 320px;
        max-height: 240px;
    }

    img.map {
        min-width: 216px;
    }

    header {
        background-color: #ff8e1e;
        border: 4px solid;
        padding: 3px;
        min-width: 720px;
        min-height: 100px;
    }
</style>

@code {
    private Maps[] data;
    private string path = @"images\map\G12\";
    private string src;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var jsInProcess = (IJSInProcessRuntime)JS;
            await JS.InvokeVoidAsync("getClipboardImage.focusInput");
        }
    }

    private async Task InputImage()
    {
        await JS.InvokeVoidAsync("getClipboardImage.setImage");
        src = await JS.InvokeAsync<string>("getClipboardImage.getImage");

        if (!string.IsNullOrWhiteSpace(src))
        {
            //data = await Http.GetFromJsonAsync<G12[]>($"G12?src={src}");
            using var response = await Http.PostAsJsonAsync<string>("G12", src);
            data = await response.Content.ReadFromJsonAsync<Maps[]>();
        }
    }
}
